/* Estilos generales del body */
body {
    margin: 0; /* Elimina márgenes del body */
    background-color: blanchedalmond;
    background-image: url('../img/YOSA-1.jpg'); /* Ruta a la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* No repite la imagen */
    background-position: center; /* Centra la imagen */
    color: #000000; /* Texto en negro */
}

/* Estilos para los encabezados h2 */
h2 {
    text-align: center; /* Centra el texto */
    margin-top: 40px; /* Espacio superior */
    margin-bottom: 20px; /* Espacio inferior */
    font-family: 'American Forms', sans-serif; /* Fuente personalizada */
    font-weight: bold; /* Letra más gruesa */
    font-size: 36px; /* Letra más ancha */
    background: linear-gradient(to right, #FFFFFF, #D4D4D4); /* Degradado de blanco a gris */
    -webkit-background-clip: text; /* Aplicar degradado al texto */
    -webkit-text-fill-color: transparent; /* Hacer el texto transparente */
}

/* Estilos del navbar */
.navbar {
    background-color: #000537; /* Fondo blanco */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.navbar-nav .nav-link {
    font-family: 'American Forms', sans-serif; /* Fuente personalizada */
    font-weight: bold; /* Letra más gruesa */
    font-size: 18px; /* Letra más ancha */
    background: linear-gradient(to right, #FFFFFF, #D4D4D4); /* Degradado de blanco a gris */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 15px; /* Espaciado entre enlaces */
}

.navbar-nav {
    flex-direction: row; /* Alinea los enlaces en fila */
    justify-content: center; /* Centra los enlaces en el navbar */
    width: 100%; /* Asegura que ocupen todo el ancho */
}

.hero-subtitle {
    text-align: center;
    padding: 1rem 0;
    background-color: #000537;
    margin: 1rem 0;
}

.hero-subtitle h2 {
    color: #1D3557;
    font-size: 1.2rem;
    margin: 0;
}

/* Estilos para el carrusel */
#carouselInicio .carousel-item img {
    height: 700px; /* Altura del primer carrusel */
    object-fit: cover; /* Ajuste de imagen */
}

.carousel-item img {
    height: 440px; /* Altura de las imágenes del carrusel */
    object-fit: cover; /* Ajuste de imagen */
}

/* Estilos para las tarjetas de testimonio */
.testimony-card {
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px; /* Espaciado interno */
}

.testimony-content {
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para las leyendas del carrusel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    color: #FFFFFF; /* Texto en blanco */
}

/* Estilos para las tarjetas de servicio */
.service-card {
    margin: 20px; /* Espaciado entre tarjetas */
    border: 1px solid #B0B0B0; /* Bordes en gris */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    background-color: #FFFFFF; /* Fondo blanco */
    
}

/* Estilos para los botones */
.btn {
    width: 200px; /* Tamaño uniforme para los botones */
}

.btn-whatsapp {
    background-color: #25D366; /* Botón de WhatsApp en verde */
    color: #FFFFFF; /* Texto de botón en blanco */
}

.btn-correo {
    background-color: #05003e; /* Botón de correo en azul */
    color: #FFFFFF; /* Texto de botón en blanco */
}

.btn-forms {
    background-color: #a30000; /* Botón de correo en azul */
    color: #FFFFFF; /* Texto de botón en blanco */
}

/* Efecto hover para botones */
.btn-whatsapp:hover, .btn-correo:hover {
    opacity: 0.8; /* Efecto hover */
}

/* Estilos para los iconos sociales */
.social-icons a {
    background-color: white; /* Fondo blanco */
    border-radius: 50%; /* Bordes redondeados */
    color: #333; /* Color de texto */
    display: inline-block; /* Alineación en línea */
    height: 40px; /* Altura de iconos */
    line-height: 40px; /* Centrado vertical */
    margin: 0 5px; /* Espacio entre iconos */
    text-align: center; /* Centrado de texto */
    width: 40px; /* Anchura de iconos */
}

.social-icons a:hover {
    background-color: #333; /* Fondo oscuro al pasar el ratón */
    color: white; /* Texto blanco al pasar el ratón */
}

/* Estilos para la sección de contacto */
.contact-text {
    margin-top: 150px; /* Espacio superior */
    text-align: right; /* Alineación a la derecha */
}

/* Estilos para las secciones de información */
.info-section {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 30px; /* Espacio inferior aumentado */
}

/* Estilos para la sección de contacto */
#contacto {
    background-color: #05003e; /* Fondo gris */
    width: 100vw; /* Ancho completo */
    position: relative; /* Posicionamiento relativo */
    left: 50%; /* Centrado horizontal */
    right: 50%; /* Centrado horizontal */
    margin-left: -50vw; /* Ajuste para centrar */
    margin-right: -50vw; /* Ajuste para centrar */
    padding-left: 30px; /* Espaciado interno */
    padding-right: 30px; /* Espaciado interno */
}

/* Estilos para el carrusel de contacto */
#contacto .carousel,
#contacto .carousel-item,
#contacto .carousel-item img {
    max-width: 100%; /* Ancho máximo */
    height: auto; /* Altura automática */
}

#contacto .service-card,
#contacto .testimony-card {
    max-width: 100%; /* Ancho máximo */
    height: auto; /* Altura automática */
}

/* Animación de aparición */
.fade-in {
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(20px); /* Desplazamiento hacia abajo */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transiciones suaves */
}

.fade-in.visible {
    opacity: 1; /* Visible */
    transform: translateY(0); /* Sin desplazamiento */
}

h5 {
    color: #ffffff; /* Negro */
}

.modal {
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilitar desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde la parte superior y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido */
    max-width: 500px; /* Ancho máximo */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btn-enviar {
    background-color: #000537; /* Azul oscuro */
    color: white; /* Texto blanco */
}

.service-description {
    margin: 10px 0;
}

.card-description {
    color: #666;
    font-size: 0.9em;
    min-height: 60px;
}

.modal-description {
    display: none;
}

#idDescription {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
}
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.service-card.hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#toggleServices {
        background-color: #000537; /* Azul oscuro */
        color: white; /* Texto blanco */
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
}

#toggleServices.active i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
